body{
    background-color: rgb(99, 94, 94)
}
.frame{
    margin-top: 17%;
    text-align: center;
    border: solid rgb(233, 226, 226);
}
.settingsFrame{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    border: solid rgb(233, 226, 226);
}
.themes{
    
}