@charset "utf-8";

@import "../utils/default.scss";

body,
html {
  background-color: #444444;
  overflow-y: hidden;
  color: white;
}

#editor {
  width: 50%;
  height: 100%;
  background-color: white;
  float: left;
}

#preview {
  width: 50%;
  height: 100%;
  float: left;
  color: white;
  padding: 1rem;
  max-width: 100%;

  .content {
    color: white !important;
  }
}
