@charset "utf-8";

// 1. Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

// 2. Import the rest of Bulma
@import "../../../node_modules/bulma/bulma";

body, html {
  background-color: #444444;
  overflow-y: hidden;
  color: white;
}

#editor {
  width: 50%;
  height: 100%;
  background-color: white;
  float: left;
  padding: 1rem;
}

#preview {
  width: 50%;
  height: 100%;
  float: left;
  color: white;
  padding: 1rem;
  max-width: 100%;

  .content {
    color: white!important;
  }
}

